<!DOCTYPE html>
<html lang="en-US">
  <head>
  
    <title>Bhavcopy</title>
    <meta charset="UTF-8">
    <meta name="description" content="Zerodha hiring test.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <link rel="icon" type="image/png"  href="static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    


<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//stats.abhishekbalam.xyz/tracker.js', 'fathom');
fathom('set', 'siteId', 'AAXYI');
fathom('trackPageview');
</script>
  </head>
  <body>
    
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card col-md-10 col-lg-10 mx-auto">
          <div class="card-body">
            <p class="text-center">
                <a href="/" onlick="window.location.reload(true)"><img src="/static/img/favicon.png" height="50px"></a>
            </p>        
            <h3 class="card-title text-center">BhavCopy</h3>
            <hr>
            <p class="card-text">
              <h5>You can search for individual stock details by name: </h5>
              <div class="input-group mb-4">
                <input id="search" type="text" class="form-control" placeholder="Example: HDFC">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" id="submit">Search</button>
                </div>
              </div>
            </p>
            <hr>
            <div class="table-responsive ">
              <h5 id="tableHeader" class="mb-3">Top 10 Stocks for {{ tabledate }} :</h5>
              <table id="myTable" class="table table-striped table-bordered display">
                  <thead>
                      <tr>
                          <th>BSE Code</th>
                          <th>Stock Name</th>
                          <th>Open</th>
                          <th>High</th>
                          <th>Low</th>
                          <th>Close</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for row in tabledata %}
                      <tr>
                          <td>{{ row['code'] }}</td>
                          <td>{{ row['name'] }}</td>
                          <td>{{ row['open'] }}</td>
                          <td>{{ row['high'] }}</td>
                          <td>{{ row['low'] }}</td>
                          <td>{{ row['close'] }}</td>  
                      </tr>
                    {% endfor %}  
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <script src="/static/js/main.js"></script>
  </body>
</html>
